.login_color{
    height: 100px%;
    width: 100px%;
    
    background: linear-gradient(313.78deg, #2855AE -3.15%, #2855AE -3.14%, #7292CF 100%);
   
}

head{
     background: linear-gradient(313.78deg, #2855AE -3.15%, #2855AE -3.14%, #7292CF 100%); 

}


.img{

    width: 10rem;
    height: 10.071rem;

    margin-top: 10.071rem;
    align-self: center;
    margin-right: 1.5rem; }


.img2{
    width: 34.457rem;
    height: 19.403rem;
    margin-top: 3.5rem;
    
    
}

